
html {
    height: 100vh;
}

.new-line {
  white-space: pre-line;
}

::-webkit-scrollbar-track {
background-color: transparent;
}

::-webkit-scrollbar {
    width: 11px;
    height: 50px;
background-color: transparent; }

::-webkit-scrollbar-thumb {
background-color: rgba(0,0,0,0.2);

 }


#tableRow:hover {
 box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
 z-index: 2;
    cursor: pointer;
}

.btn-outline-secondary {
    border: none !important; 
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-top-style: solid;
    border-right-style: none !important;
    border-bottom-style: solid;
    border-left-style: none !important;
    border-width: 0;
}

.wrapEllipsis {
    /*width: 5%;*/
    width: [width];
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}



.app{
    height: 100vh !important;
}

.app-body{
    display: flex;
    height: 88vh;
    overflow-x: hidden;
}

.p, .h3 {
    margin-bottom: 0 !important;
}